{% extends "base.html" %}

<!-- {% block titl %}
{{ block.super }}
{% endblock titl %}  block.super does the original from base.html-->

{% block title %}
| {{ object.shortened }}
{% endblock title %}

{% block content %}
<div>
    <h1>Shortened URL already exists</h1>
    
    <p>Long URL: {{ object.url }}</p>

    {% if object.analytics %} <p>Count: {{ object.analytics.count}} </p> {% endif %}

    <p><a class="btn btn-link" href='{{ object.get_shortened_url }}' target=”_blank”>{{ object.get_shortened_url }}</a></p>

    <a class="btn btn-light" href='/'>+ New</a>

</div>
{% endblock content %}